// ref https://codepen.io/lbebber/pen/nqwBKK

@use 'sass:math';

.glitch {
  position:relative;
  text-align: center;
  color: var(--c-bg);
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(math.div(1, $steps)))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

.glitch:after{
  content:attr(data-text);
  position:absolute;
  left: 9px;
  text-shadow:-1px 0 red;
  top: 0;
  bottom: 0;
  color: var(--c-bg);
  background: var(--c-text);
  overflow:hidden;
  clip: rect(0, 120px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(math.div(1, $steps)))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

.glitch:before{
  content: attr(data-text);
  position:absolute;
  left: 6px;
  top: 0;
  bottom: 0;
  text-shadow: 1px 0 blue; 
  color: var(--c-bg);
  background: var(--c-text);
  overflow: hidden;
  clip: rect(0, 120px, 0, 0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}
