:root {
  --ylf-font-serif: 'Noto Serif SC', serif;
}

.ylf-font-serif {
  font-family: var(--ylf-font-serif);
}

.text-fill-transparent {
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
